*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body+html{
    width: 100%;
    height: 100%;
}
body{
    font-size: 16px;font-family: 微软雅黑;
    -webkit-background-size: 100%;
    background-size: 100%;
}
img{
    border: 0px;
}
ul,ol{
    list-style: none
}
header,main,footer{
    margin: 0 auto;
    width: 1080px;}
header{
    position: relative;
}
ul.m1{
    width:1080px;
    height: 200px;
    padding: 50px;
    z-index: 1000;
}
ul.m1 li{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    width: 200px;
    height: 125px;
}
ul.m1 a{
    display: block;
    width: 200px;
    height: 125px;}