article.r_border{
    border: 3px solid #9cc577;
    border-bottom: none;
}
body{
    background: #8bb9d6;
}#d6b974
.Li_main{
    width: 880px;
    margin: 0 auto;
min-height: 800px;
}
._tab{
    width: 500px;
    height: 60px;
    margin-top: 80px;
    margin-left: 40px;
}
._tab div{
    top: 20px;
    position: absolute;
    width: 120px;
    height: 75px;
    line-height: 75px;
    text-align: left;
    padding-left: 20px;
    cursor:pointer;
    border-radius: 5px;
    background: #82b159;
    color: #ffffff;
    font-size: 16px;
    border: none;
}
._tab div:nth-of-type(2){
    top: 95px;
    background: #de445c;
}
._tab div:nth-of-type(3){
    top: 170px;
    background: #d1a72c;
}
._tab div:nth-of-type(4){
    top: 245px;
    background: #36de9a;
}
._tab div:nth-of-type(5){
    top: 320px;
    background: #248cde;
}
._tab div:nth-of-type(6){
    top: 395px;
    background: #de53c6;
}
._tab_con{
    height: 100%;
    width: 580px;
    display: block;
    top: 20px;
    left: 160px;
}
.bg_1{
    left: 0;
    top:0;
    background: #ffffff;
    display: block;
    width: 670px;
    border: 1px solid #c7c7c7;
    border-radius: 15px;
    padding: 20px;
    min-height: 580px;
}
.b_1{cursor: none}
.Pu1{
    word-break: break-all;
    border: 3px solid #82b159;
    background: #ffffff;
}
.Pu2{border: 3px solid #de445c;text-align: center}
.Pu3{border: 3px solid #deb42c;}
.Pu4{border: 3px solid #36de9a;text-align: right  }
.Pu5{border: 3px solid #248cde;}
.Pu6{border: 3px solid #de53c6;}
.Pu5 video{
    width: 100%;

}

.Pu6 div{
    width: 260px;
    background:url("../images/Stu_1.JPG") no-repeat;
    height: 212px;
    float: left;
    margin-left: 40px;
    position: relative;
    margin-bottom: 30px;
    border-radius: 15px;
}
.Pu6 a{
    position:absolute;
    width: 250px;
    top: 217px;
    display: block;
    text-align: center;
    color: #9d9d9d;
}
div._Pbu2{
    background:url("../images/Stu_2.JPG");
}

div._Pbu3{
    background:url("../images/Stu_3.JPG");


}
div._Pbu4{
    background:url("../images/Stu_4.JPG");


}
div._Pbu5{
    background:url("../images/Stu_5.JPG");


}
div._Pbu6{
    background:url("../images/Stu_6.JPG");


}
h3,.Pu4 figcaption{font-size: 24px;text-align: center;
    color: #000000;font-weight: bolder;}
.b,.c{color:darkgrey;font-size: 13px;
    margin-top: 10px;
    line-height: 30px;}
.c{
    word-break:break-all;
    text-align: left;
    color:black;
    margin-top: 20px;text-indent: 2em;font-size: 15px;}


